@model Jingl.General.Model.Admin.Master.CategoryModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_Adm.cshtml";
}

@using (Html.BeginForm("Delete", "AdmCategory", FormMethod.Post, new { Id = "formCreateCategory" }))
{
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Delete</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-6">
                    <label>Category Type</label>
                    @Html.HiddenFor(model => model.Id, new { Class = "form-control" })
                    @Html.TextBoxFor(model => model.CategoryType, new { Class = "form-control", disabled = "true" })
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Category Code</label>
                        @Html.TextBoxFor(model => model.CategoryCode, new { Class = "form-control", disabled = "true" })
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Category Name</label>
                        @Html.TextBoxFor(model => model.CategoryNm, new { Class = "form-control", disabled = "true" })
                    </div>
                </div>
                <div class="col-6">
                    <label>Category Desc</label>
                    @Html.TextAreaFor(model => model.CategoryDesc, new { Class = "form-control", disabled = "true" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a href="@Url.Action("Index","AdmCategory")" class="btn btn-warning">Cancel</a>
                </div>
            </div>





        </div>
    </div>
}




@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            App.init();
        });
    </script>
}

