@model IEnumerable<Jingl.General.Model.User.ViewModel.TalentCategoryViewModel>

@{
    ViewData["Title"] = "Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("~/Views/Shared/_headertop.cshtml")
@await Html.PartialAsync("~/Views/Shared/_header.cshtml")
<div class="container" style="padding: 0 !important">
    <div class="row" style="margin: 0 !important">
        <div class="col-12" style="padding: 0 !important">
            <!-- begin #search-bar -->
            <div class="top-search-bar">
                <div class="form-group  search-bar brdr-blue has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Cari Nama Talent" id="search">
                </div>
            </div>
            <div class="container" style="padding: 0 !important" id="OurTalentcontent">
                <div class="row mt20" style="margin: 0 !important">
                    @{
                        var index = 0;
                        foreach (var talent in Model)
                        {
                            <div class="col-6 col-lg-6 filterdata align-self-center" style="padding: 10px !important">
                                <div class="exploredetail m-t-10 m-b-40">
                                    <a href="@Url.Action("TalentDetail", "Talent", new { TalentId = talent.TalentId })">
                                        <div class="video">
                                            <div class="card-explore-top">
                                                <img src="@talent.LinkImg" alt="Alternate Text" width="100%" height="100%" class="thmnail" />
                                            </div>
                                        </div>
                                        <div class="text-talent">
                                            <span class="span-talent">
                                                <span class="profesi">@talent.Profesion</span>
                                            </span>
                                            <h4>@talent.TalentNm</h4>
                                        </div>
                                    </a>
                                    <div class="row text-center">
                                        <div class="col-6  text-center">
                                            @*<a href="@Url.Action("Hire","Booking",new {TalentId = @talent.TalentId})" class="btn btn-blue" style="margin-bottom:10px">*@
                                            <a href="@Url.Action("Hire","Booking",new {TalentId = @talent.TalentId})">

                                                <div class="icon-img text-center">
                                                    <img src="~/template/img/ic-order.png" alt="Alternate Text" />
                                                </div><label style="text-align:center">Pesan Video</label>
                                            </a>
                                        </div>
                                        <div class="col-6  text-center">
                                            <input type="hidden" class="TalentId" id="TalentId_@index" value="@talent.TalentId" style="margin-bottom:10px" />
                                            @*<a id="unBookmarkBtn" class="btn btn-blue unbook-btn">*@
                                            <a id="unBookmarkBtn">
                                                <div class="icon-img text-center">
                                                    <img src="~/template/img/ic-unbookmark.png" alt="Alternate Text" />
                                                </div> <label style="text-align:center">Hapus Favorit</label>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            index++;

                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            //function FilterList(txtName,ulName) {
            //    // Declare variables
            //    var input, filter, ul, li, a, i, txtValue;
            //    input = document.getElementById(txtName);
            //    filter = input.value.toUpperCase();
            //    ul = document.getElementById(ulName);
            //    li = ul.getElementsByTagName('li');

            //    // Loop through all list items, and hide those who don't match the search query
            //    for (i = 0; i < li.length; i++) {
            //        a = li[i];
            //        txtValue = a.textContent || a.innerText;
            //        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            //            li[i].style.display = "";
            //        } else {
            //            li[i].style.display = "none";
            //        }
            //    }
            //}

            //$("#Filter").keyup(function () {
            //    FilterList("Filter", "WorkspaceList");
            //});

            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#TalentData").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            $('#search').keyup(function () {

                var filter = this.value.toLowerCase();  // no need to call jQuery here

                $('.filterdata').each(function () {
                    /* cache a reference to the current .media (you're using it twice) */
                    var _this = $(this);
                    var title = _this.find('h4').text().toLowerCase();

                    /*
                        title and filter are normalized in lowerCase letters
                        for a case insensitive search
                     */
                    if (title.indexOf(filter) < 0) {
                        //_this.hide();
                        //_this.display = "none";
                        _this.hide();
                    }
                    else {
                        _this.show();
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".unbook-btn").click(function (e) {

                var hiden_TalentId = $(this).parent().parent().parent().find('.TalentId').attr('id');
                var talentId = $("#" + hiden_TalentId + "").val();
                var jsonRequest = {
                    TalentId: talentId
                };

                var UrlInsert = "@Url.Action("RemoveFromWishlist", "Booking")";
                $.ajax({
                    url: UrlInsert,
                    //cache: false,
                    //traditional: true,
                    type: "POST",
                    data: { model: jsonRequest },
                    //contentType: "application/json; charset=utf-8",
                    //async: false,
                    beforeSend:
                        function () {
                            //$("#spinner").show();
                        },
                    success: function (data) {

                        if (data == "OK") {
                            $.gritter.add({
                                title: 'Success!',
                                text: 'Successfully Remove From Your Favourite!'
                            });
                            window.location.reload();
                        }

                        else {

                        }



                    },
                    error: function (jqXHR, textStatus, errorMessage) {
                        console.log(errorMessage);
                    }
                });
            });
        });
    </script>
}
