@model Jingl.General.Model.Admin.UserManagement.UserModel
@{
    Layout = null;
}


<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Fameo Admin | Login Page</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/animate/animate.min.css" rel="stylesheet" />
    <link href="~/assets/css/default/style.min.css" rel="stylesheet" />
    <link href="~/assets/css/default/style-responsive.min.css" rel="stylesheet" />
    <link href="~/assets/css/default/theme/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <link href="~/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <script src="~/assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top bg-white">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade show"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin login -->
        <div class="login login-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <div class="news-image" style="background-image: url(../assets/img/login-bg/login-bg-11.jpg)"></div>
                <div class="news-caption">
                    <h4 class="caption-title"><b>Fameo</b> Admin App</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </div>
            <!-- end news-feed -->
            <!-- begin right-content -->
            <div class="right-content">
                <!-- begin login-header -->
                <div class="login-header">
                    <div class="brand">
                        <span class="logo"></span> <b>Fameo</b> Admin

                    </div>
                    <div class="icon">
                        <i class="fa fa-sign-in"></i>
                    </div>
                </div>
                <!-- end login-header -->
                <!-- begin login-content -->
                @using (Html.BeginForm(null, null, FormMethod.Post, new { Class = "", Id = "frm_Login" }))
                {
                    <div class="login-content">
                        <div class="margin-bottom-0">
                            <div class="form-group m-b-15">
                                @*<input type="text" class="form-control form-control-lg" placeholder="UserName or Email Address" required />*@
                                @Html.TextBoxFor(model => model.UserName, new { Class = "form-control form-control-lg", required = "true", PlaceHolder = "UserName or Email Address" })
                            </div>
                            <div class="form-group m-b-15">
                                @*<input type="password" class="form-control form-control-lg" placeholder="Password" required />*@
                                @Html.PasswordFor(model => model.Password, new { Class = "form-control form-control-lg", required = "true", PlaceHolder = "Password" })
                            </div>

                            <div class="login-buttons">
                                <button type="submit" class="btn btn-success btn-block btn-lg" id="btn_signin">Sign me in</button>
                            </div>

                            <hr />
                            <p class="text-center text-grey-darker">
                                &copy; Fameo Admin All Right Reserved @DateTime.Now.Year
                            </p>
                        </div>
                    </div>
                }

                <!-- end login-content -->
            </div>
            <!-- end right-container -->
        </div>
        <!-- end login -->

    </div>



    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/assets/plugins/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--[if lt IE 9]>
        <script src="~/assets/crossbrowserjs/html5shiv.js"></script>
        <script src="~/assets/crossbrowserjs/respond.min.js"></script>
        <script src="~/assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/js-cookie/js.cookie.js"></script>
    <script src="~/assets/js/theme/default.min.js"></script>
    <script src="~/assets/js/apps.min.js"></script>
    <script src="~/assets/plugins/gritter/js/jquery.gritter.js"></script>
    <script src="~/js/Common.js"></script>
    <!-- ================== END BASE JS ================== -->
    <script>
        function CheckValidUser() {

        }

        $(document).ready(function () {
            App.init();
         
            $('#frm_Login').submit(function (e) {
                e.preventDefault();
                var jsonRequest = {
                    UserId: $("#UserName").val(),
                    Password: $("#Password").val(),
                };

                var url = '@Url.Action("Login","AdmAccount")';

                //var result = $.xResponseJson(url,
                //    JSON.stringify({ model: jsonRequest }));

                $.ajax({
                    url: url,
                    type: "POST",
                    data: $('#frm_Login').serialize(),
                    success: function (data) {

                        if (data.user == "Valid") {
                            //alertSuccess("Valid");
                            $.gritter.add({
                                title: 'Success !',
                                text: 'Success !'
                            });
                            //return false;

                            if (data.roleId ==1)
                            {
                                 window.location.href = "@Url.Action("DashboardDataStudio", "AdmHome")";
                            }
                            else
                            {
                                 window.location.href = "@Url.Action("Index", "Home")";
                            }
                           
                            //"../AdmHome/Dashboard/";
                        }
                        else if (data.user == "NotValid") {

                            $.gritter.add({
                                title: 'Not Valid !',
                                text: 'User is not Valid !'
                            });
                         
                        }
                        else {
                            return false;
                        }

                    },
                    error: function (data) {
                        alert("no");
                    }
                });

            });



        });</script>
</body>
</html>
