@model Jingl.General.Model.Admin.Transaction.BookModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_Adm.cshtml";
}
@using (Html.BeginForm("Create", "AdmBook", FormMethod.Post, new { Id = "formCreateBook", enctype = "multipart/form-data"  }))
{
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-12 align-self-center">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Create</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-4">
                            <label>Project Name</label>
                            @Html.TextBoxFor(model => model.ProjectNm, new { Class = "form-control", required = "true" })
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Talent </label>
                                @Html.DropDownListFor(model => model.TalentId, ViewBag.ListTalent as IEnumerable<SelectListItem>, "Pilih Talent", new { Class = "form-control", Placeholder = "", required = "true" })
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Booked By</label>
                                @Html.DropDownListFor(model => model.BookedBy, ViewBag.ListUser as IEnumerable<SelectListItem>, "Pilih User", new { Class = "form-control", Placeholder = "", required = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>BriefNeeds</label>
                            @Html.TextAreaFor(model => model.BriefNeeds, new { Class = "form-control", required = "true" })
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>From </label>
                                @Html.TextBoxFor(model => model.From, new { Class = "form-control", required = "true" })
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Book Category </label>
                                @Html.DropDownListFor(model => model.BookCategory, ViewBag.BookCategory as IEnumerable<SelectListItem>, "Pilih Category", new { Class = "form-control", Placeholder = "", required = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>To </label>
                            @Html.TextBoxFor(model => model.To, new { Class = "form-control", required = "true" })
                        </div>
                        <div class="col-6">
                            <label>Deadline </label>
                            @Html.TextBoxFor(model => model.Deadline, new { Class = "form-control datetimepicker", required = "true" })
                        </div>

                    </div>
                    @*<div class="row">
                            <div class="col-4">
                                <label>Gender</label>
                                @Html.DropDownListFor(model => model.Gender, ViewBag.ListGender as IEnumerable<SelectListItem>, "Pilih Gender", new { Class = "form-control", Placeholder = "", disabled = "true" })
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Country </label>
                                    @Html.DropDownListFor(model => model.Country, ViewBag.ListCountry as IEnumerable<SelectListItem>, "Pilih Country", new { Class = "form-control", Placeholder = "", disabled = "true" })
                                </div>
                            </div>
                            <div class="col-4">
                                <label>Region</label>
                                @Html.DropDownListFor(model => model.Region, ViewBag.ListRegion as IEnumerable<SelectListItem>, "Pilih Region", new { Class = "form-control", Placeholder = "", disabled = "true" })
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-6">
                            <label>Voucher Code</label>
                            @Html.TextBoxFor(model => model.VoucherCode, new { Class = "form-control" })
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Total Pay </label>
                                @Html.TextBoxFor(model => model.TotalPay, new { Class = "form-control", required = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>Video</label><br /> @*@Html.TextBoxFor(model => model.Link, new { Class = "form-control", required = "true" })*@
                            <input type="file" name="FileVideo" accept="video/mp4">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-4">
                            <label>Payment Method</label>
                            @Html.DropDownListFor(model => model.PayMethod, ViewBag.ListPaymentMethod as IEnumerable<SelectListItem>, "Pilih Payment Method", new { Class = "form-control", Placeholder = "", required = "true" })
                        </div>
                        <div class="col-4">
                            <label>Payment Channel</label>
                            @Html.TextBoxFor(model => model.PaymentChannel, new { Class = "form-control" })
                        </div>
                        <div class="col-4">
                            <div class="form-group">

                                <label>Status </label>
                                @Html.DropDownListFor(model => model.Status, ViewBag.ListTransactionStatus as IEnumerable<SelectListItem>, "Pilih Status", new { Class = "form-control", Placeholder = "", required = "true" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a href="@Url.Action("Index", "AdmBook")" class="btn btn-warning">Cancel</a>
                        </div>
                    </div>





                </div>
            </div>
        </div>

    </div>
}


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            App.init();

        });
    </script>
}