@model IEnumerable<Jingl.General.Model.Admin.Transaction.BookModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Adm.cshtml";
}

<h2>Bookings</h2>



<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Bookings</h4>
    </div>
    <div class="panel-body">
        <p>
            <a class="btn btn-pink" asp-action="Create">Create New</a>
        </p>
        <table class="table table-striped table-bordered" id="data-table-responsive" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Order No
                    </th>
                   <th>
                       Category
                   </th>
                    <th>
                        Project Name
                    </th>
                    <th>
                      Talent Name
                    </th>
                    <th hidden>
                        @Html.DisplayNameFor(model => model.BriefNeeds)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.From)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.To)
                    </th>
                    <th hidden>
                        @Html.DisplayNameFor(model => model.Deadline)
                    </th>
                    <th hidden>
                        @Html.DisplayNameFor(model => model.VoucherCode)
                    </th>
                    <th>
                      Total Pay
                    </th>
                    <th>
                       Payment Method
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                  
                  
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryNm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectNm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TalentNm)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.BriefNeeds)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.From)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.To)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.Deadline)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.VoucherCode)
                    </td>
                    <td>
                        @{
                            if (item.TotalPay.HasValue)
                            {
                                <label class="amountlines">@Html.DisplayFor(modelItem => item.TotalPay)</label>
                            }
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PayMethod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionStatus)
                    </td>


                    <td>
                        @Html.ActionLink("Edit", "Edit", "AdmBook", new { id = item.Id }, new { @class = "btn btn-success m-b-5" })
                        @Html.ActionLink("Details", "Details", "AdmBook", new { id = item.Id }, new { @class = "btn btn-warning m-b-5" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger m-b-5" })

                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            App.init();
            TableManageResponsive.init();
        });
    </script>
}
